<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/68abb170e0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="todo1.css">
  <style> ul { list-style-type: none; } </style>
</head>
<body>
  <div id="app">
    <h1>할 일</h1>
    <ul>
      <li v-for="(todo, key) in todoMap" v-vind:key="key">
        <input type="checkbox" v-model="checked[key]" />
        {{ todo.title }}
      </li>
    </ul>
    <input type="text" v-model.trim="todo.title" />
    <button type="button" v-on:click="save" v-bind:disabled="!todo.title">할일 추가</button>
    <button type="button" v-on:click="remove" v-show="checkedCount > 0">삭제</button>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        todoMap: {},
        checked: [],
        todo: {},
        selectindex:null
      },  
      computed: {
        checkedCount: function() {
          let count = 0;
          for (let i in this.checked)
            if (this.checked[i]) ++count;
          return count;
        }
      },
      methods: {
        reload: function() {
          axios.get('https://skhu-ykp.firebaseio.com/todo1.json')
          .then(response => this.todoMap = response.data)
        },

        save: function(){
          axios.post('https://skhu-ykp.firebaseio.com/todo1.json', this.todo)
                 .then(response => this.reload());
            this.todo = {};
        },

        remove: function(){
for (let i in this.todoMap)
    if (this.checked[i]) {
        axios.delete("https://skhu-ykp.firebaseio.com/todo1/" + i + ".json")
            .then(Response => this.reload());
    }
    }
}  
    })
    window.onload = function() {
        app.reload();
    }
   </script>
</body>
</html>

